.Product-Item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Product-Item-Overview {
    display: flex;
    flex-direction: row;
    flex-wrap: 1;    
    justify-content: center;
    align-items: center;
}

.Product-Item-View {
    height: 600px;
    width: 400px;
    padding: 1em;
    margin: 1em;
}

.Product-Item-Image {
    height: 600px;
    width: 400px;
}

.Product-Item-Description-Desc {
    text-decoration: underline;
    font-size: 30px;
    margin: 10px;
}

.Product-Item-Values {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;    
}

.Product-Item-KvP {
    margin: 4px;
}

.Product-Item-Key {
    margin-right: 4px;
}

.Product-Item-Description {
    display: flex;
    flex-direction: column;
    flex-wrap: 1;    
    justify-content: center;
    align-items: center;
    align-content: center;
}


.Product-Item-Warning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}